main{
    margin: 0;
}

/*-------------------
-      HEADER        -
-------------------*/

header{
    flex-direction: column;
    align-items: center;
    margin: 0 0 31px 0;
}

header h1 #logo{
    margin: 20px;
}

nav{
    width: 100%;
}

nav ul{
    padding: 0;
}
       
nav ul li {
    width: 100%;
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 18px;
    border-bottom: 3px solid rgb(238, 238, 238);
    border-top: none;
}

nav ul li:hover{
    color: #0065FC;
    border-bottom: 3px solid #0065FC; 
    border-top: none;
}

/*-------------------
-      MAIN        -
-------------------*/

#searchtool{
    margin-left: 10px;
}
/*Formulaire*/
#searchplace #formulaire{
    justify-content: center;
    margin-right: 10px;
}

#searchplace #formulaire #search-txt{
    display: none;
}

#searchplace #formulaire #search-icon{
    display: flex;
    justify-content: center;
}

#searchplace #formulaire #search-icon i{
    background-color: transparent;
    padding: 12px 10px 12px 10px;
}

/*Places*/
#places{
    flex-direction: column-reverse;
    margin-bottom: 0;
}

aside{
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 0;
}

#hbrgment{
    background-color: transparent;
}

#hbrgment h2{
    padding: 20px 20px 17px 20px;
}

#hbrgment #cards-h, #loisirs{
    flex-direction: column;
}

#hbrgment #cards-h img, #loisirs img{
    width: 100%;
}

#hbrgment figure{
    margin-bottom: 6px;
}

#cards-pop, #cards-h, #activity{
    margin: 0 20px;
}


aside a{
    width: 100%;
}


/*Activity*/


#loisirs img{
    display: flex;
    flex-direction: column;
}

#card2, #card3, #card5, #card6{
    margin-bottom: 15px;
}

.bigimg img, #card2 img, #card3 img, #card5 img, #card6 img{
    height: 110px;
}

#mid1, #mid2{
    width: 100%;
}

#column2, #column4{
    width: 100%;
    margin:0;
}

.bigimg{
    width: 100%;
    margin: 0 0 15px;
}



/*-------------------
-      FOOTER        -
-------------------*/


footer{
    margin-top: 20px;
}

#pied{
    flex-direction: column;
    padding: 40px 0px 0px 30px;
}

.ftr-list{
    margin-bottom: 30px;
}

.ftr-list a{
    white-space: nowrap;
}