.page{
    border: 1px solid red;
}

/*--Filtres--*/
#filter{
    margin-bottom: 20px;
}

#filter h2, .filter-btn{
    margin-bottom: 15px;
}

/*--Place--*/
#places{
    flex-direction: column;
}

#hbrgment{
    max-width: 100%;
    margin-right: 0;
    min-width: 250px;
}

aside a{
    margin-bottom: 32px;
    width: 97%;
}
