/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
poser la question pour l'intégration de la police*/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header, main {
    margin-left: 65px;
    margin-right: auto;
    width: 70%;
}

header img{
    width: 100px;
    height: 50px;
    margin-top: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

ul{
    list-style: none;
    display: flex;  
    font-size: 18px;
   
}

li{
    width: 160px;
    text-align: center;
    padding-top: 40px;
     
}

li:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;  
}

h1{
    font-size: 24px;
    font-weight: bold; 
    margin-bottom: 6px;
}

p{
    font-size: 18px;   
    margin-top: 0px;
}




/*Version mobile ci dessous*/

@media screen and (max-width: 1280px) 
{
body{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header img{
    height: 100px;
    width: 200px;
}


header li{
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 25px;

}

header li:hover{
    color: #0065FC;
    border-bottom: 3px solid #0065FC; 
    border-top: none; 
}

 
}

